@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";


*{
    font-family: 'Inter', sans-serif;
}

@theme{
  --color-dark: #313131;
  --color-font: #5C5C5C;
  --color-primary:#2F75FD;
  --color-secondary: #2C8351;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float 1s  infinite;
}

.dropdown  {
  filter: invert(32%) sepia(72%) saturate(2975%) hue-rotate(340deg) brightness(95%) contrast(95%);
}