@import "tailwindcss";

/* @theme{
    --color-primary:#2F75FD;
} */


@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --animate-marquee: marquee 12s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

.active {
  @apply bg-[#FF5150] text-white;
}